@import '/src/assets/styles/variables';

.info_block_small {
  width: 487px;
  height: 61px;
  margin-bottom: 30px;
  background-color: $background-block;

  &:nth-child(odd) {
    margin-right: 48px;
  }

  &:nth-child(n + 7) {
    margin-bottom: 40px;
  }
}

.info_block_large {
  width: 1022px;
  height: 168px;
  background-color: $background-block;
}
