@import '/src/assets/styles/variables';
@import '/src/assets/styles/mixins';

.comments_btn:first-child {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  background-color: transparent;
  color: rgba($black-color, 0.4);
  padding-bottom: 2px;
  border-bottom: 3px solid rgba($black-color, 0.4);

  > span {
    margin-left: 5px;
    font-size: 20px;
    color: rgba($black-color, 0.4);
  }

  &.active {
    color: $black-color;
    border-bottom-color: $black-color;
  }

  &:hover:not(.active) {
    color: rgba($black-color, 0.7);
    border-bottom-color: rgba($black-color, 0.7);
    transition: all 0.4s ease;
  }
}

.btn_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 50px;
}

.select {
  position: relative;
}

.select_btn {
  @include controlPanel;

  > span {
    padding-bottom: 2px;
    border-bottom: 1px solid rgba($black-color, 0.4);
    transition: all 0.4s ease;
  }

  > img {
    width: 18px;
    height: 18px;
    animation: rotate-second-half 0.4s ease-in-out;
  }

  &:hover {
    color: rgba($black-color, 0.7);
    > span {
      border-bottom-color: rgba($black-color, 0.7);
    }
  }

  & .rotate {
    animation: rotate-first-half 0.4s ease-in-out;
    animation-fill-mode: both;
  }
}

.select_dropdown {
  position: absolute;
  z-index: 1;
  top: 32px;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px rgba($black-color, 0.1);
  background-color: $white-color;
  width: 229px;
  padding: 8px 0 9px 10px;

  > li {
    font-size: 16px;
    color: rgba($black-color, 0.4);
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:not(:first-child) {
      padding-top: 5px;
    }

    > img {
      visibility: hidden;
      margin-right: 10px;
      width: 15px;
      height: 15px;
    }
  }
}

.hide {
  display: none;
}

.favorite_btn {
  @include controlPanel;

  > span {
    padding-bottom: 2px;
    border-bottom: 1px solid rgba($black-color, 0.4);
    transition: all 0.4s ease;
  }

  > img {
    width: 22px;
    height: 22px;
  }

  &:hover {
    color: rgba($black-color, 0.7);
    > span {
      border-bottom-color: rgba($black-color, 0.7);
    }
  }

  &.active {
    > span {
      color: $black-color;
      border-bottom-color: $black-color;
    }
  }
}

@keyframes rotate-first-half {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(180deg);
  }
}

@keyframes rotate-second-half {
  from {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 645px) {
  .btn_wrapper {
    gap: 25px;
  }
}

@media (max-width: 550px) {
  .select_dropdown {
    width: 221px;

    > li {
      font-size: 14px;

      &:not(:first-child) {
        padding-top: 10px;
      }
    }
  }
}
