@import '/src/assets/styles/variables';
@import '/src/assets/styles/mixins';

.control_panel_comment {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 2px;
  background-color: transparent;
  border-bottom: 3px solid $black-color;

  > span {
    margin-left: 5px;
    font-size: 20px;
    color: rgba($black-color, 0.4);
  }

  &:hover {
    color: rgba($black-color, 0.7);

    > span {
      color: rgba($black-color, 0.7);
    }
  }
}

.hidden {
  display: none;
}

.control_panel_select {
  @include controlPanel;

  > img {
    width: 20px;
    height: 20px;
  }
}

.control_panel_favorite {
  @include controlPanel;
}
