@import '/src/assets/styles/variables';
@import '/src/assets/styles/mixins';

.control_panel_comment {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 2px;
  background-color: transparent;
  border-bottom: 3px solid $black-color;

  > span {
    margin-left: 5px;
    font-size: 20px;
    color: rgba($black-color, 0.4);
  }

  &:hover {
    color: rgba($black-color, 0.7);

    > span {
      color: rgba($black-color, 0.7);
    }
  }
}

.hidden {
  display: none;
}

.control_panel {
  position: relative;
}

.control_panel_select {
  @include controlPanel;

  > img {
    width: 20px;
    height: 20px;
  }
}

.control_panel_list {
  position: absolute;
  z-index: 1;
  top: 32px;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  background-color: $white-color;
  width: 229px;
  padding: 8px 0 9px 10px;

  > li {
    font-size: 16px;
    opacity: 0.4;
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:before {
      content: url(../../../public/checkbox.svg);
      margin-right: 10px;
      width: 15px;
      height: 15px;
    }
  }
}

.control_panel_favorite {
  @include controlPanel;
}
