@import '/src/assets/styles/variables';
@import '/src/assets/styles/mixins';

.comment_container {
  display: flex;
  margin-bottom: 28px;
}

.replies {
  margin-left: 91px;
}

.comment_form {
  margin-bottom: 28px;

  > form {
    > div:first-child ~ div:not(div:last-child) {
      > div:last-child {
        right: 13%;
      }
    }

    > div:last-child {
      display: flex;

      > button {
        padding: 20px 30px;
        width: 154px;

        & ~ button {
          margin-left: 30px;
        }
      }
    }
  }
}

.avatar {
  @include avatar;
}

.comment_info {
  display: flex;
  margin-bottom: 10px;

  > p:first-child {
    @include name;
    margin-right: 15px;
  }

  > p:last-child {
    align-self: center;
    @include textDate;
  }
}

.parent {
  display: flex;
  gap: 13px;
  margin-right: 15px;

  > p {
    @include answer;
  }
}

.parent_icon {
  width: 20px;
  height: 20px;
}

.comment_panel {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.reply_btn {
  @include commentPanel;
  margin-right: 20px;
}

.favorite_btn {
  @include commentPanel;
  margin-right: 30px;

  > img {
    width: 22px;
    height: 22px;
  }
}

.vote_system {
  display: flex;
  align-items: center;
  gap: 10px;
}

.vote_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: rgba($black-color, 0.1);
  cursor: pointer;
}

.icon_plus {
  width: 12px;
  height: 22px;
}

.icon_minus {
  width: 9px;
  height: 22px;
}

.positive_rating {
  font-weight: 500;
  color: $increment-color;
}

.negative_rating {
  font-weight: 500;
  color: $red-color;
}

@media (max-width: 1380px) {
  .comment_form {
    > form {
      flex-wrap: wrap;

      > div:first-child ~ div:not(div:last-child) {
        margin-right: 0;

        > textarea {
          max-width: 100%;
        }

        > div:last-child {
          right: 0;

          > p:first-child {
            order: 1;
            margin: 0 0 0 30px;
          }
        }
      }

      > div:last-child {
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: 700px) {
  .comment_container {
    flex-direction: column;
    position: relative;
  }

  .comment_inner {
    > .comment_info {
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 0;
      position: absolute;
      top: 20px;
      left: 91px;

      > p:first-child {
        margin-right: 29px;
      }

      > .parent {
        width: 100%;
        order: 1;
        margin: 10px 0 0 0;
      }
    }

    > p {
      padding-top: 15px;
    }
  }

  .replies > div > .comment_container > .comment_inner > .comment_info {
    top: 0;
  }
}

@media (max-width: 550px) {
  .comment_container {
    margin-bottom: 31px;
  }

  .comment_form {
    margin-bottom: 35px;

    > form {
      > div:last-child {
        flex-wrap: wrap;
        width: 100%;

        > button {
          width: 100%;

          & ~ button {
            margin: 15px 0 0 0;
          }
        }
      }
    }
  }

  .reply_btn {
    margin-right: 15px;
  }

  .favorite_btn {
    margin-right: 15px;
  }
}

@media (max-width: 500px) {
  .replies {
    margin-left: 0;
  }
}

@media (max-width: 460px) {
  .comment_inner {
    > p {
      font-size: 16px;
    }
  }
  .comment_panel {
    margin-top: 0;

    .vote_system {
      flex-direction: column-reverse;
      gap: 2px;
    }
  }
}
