@import '/src/assets/styles/variables';
@import '/src/assets/styles/mixins';

.comment_container {
  display: flex;
  margin-bottom: 28px;
}

.replies {
  margin-left: 91px;
}

.comment_form {
  margin-bottom: 28px;

  > form {
    > div:first-child ~ div:not(div:last-child) {
      > div:last-child {
        right: 13%;
      }
    }

    > div:last-child {
      display: flex;

      > button {
        padding: 20px 30px;
        width: 154px;

        & ~ button {
          margin-left: 30px;
        }
      }
    }
  }
}

.avatar {
  @include avatar;
}

.comment_info {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;

  > p:first-child {
    @include name;
  }

  > p:last-child {
    align-self: center;
    @include textDate;
  }
}

.comment_panel {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.reply_btn {
  @include commentPanel;
}

.favorite_btn {
  @include commentPanel;
  margin: 0 30px 0 20px;

  > img {
    width: 22px;
    height: 22px;
  }
}

.vote_system {
  display: flex;
  align-items: center;
  gap: 10px;
}

.vote_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.icon_plus {
  width: 12px;
  height: 22px;
}

.icon_minus {
  width: 9px;
  height: 22px;
}

.positive_rating {
  font-weight: 500;
  color: $increment-color;
}

.negative_rating {
  font-weight: 500;
  color: $red-color;
}
