@import '/src/assets/styles/variables';
@import '/src/assets/styles/mixins';

.form {
  display: flex;
  align-items: center;
  padding-top: 37px;
  padding-left: 91px;
  position: relative;
}

.user_wrapper {
  display: flex;

  > img {
    @include avatar;
    margin-right: 30px;
    position: absolute;
    top: 0;
    left: 0;
  }

  > p {
    @include name;
    position: absolute;
    top: 0;
  }
}

.textarea_wrapper {
  display: flex;
  width: 100%;
  margin-right: 30px;
}

.textarea {
  overflow: hidden;
  padding: 20px 30px;
  height: 65px;
  min-height: 65px;
  max-height: 400px;
  width: 100%;
  max-width: 688px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 22px;
  resize: none;
  &::placeholder {
    opacity: 0.4;
  }
}

.validation_wrapper {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;

  > p:first-child {
    font-style: italic;
    margin-right: 40px;
    @include textDate;
  }

  > p:last-child {
    visibility: hidden;
    font-size: 14px;
    line-height: 17px;
    color: $red-color;
  }
}

.form_btn_wrapper {
  align-self: flex-start;
}

.form_btn {
  padding: 20px 60px;
  height: 65px;
  line-height: 22px;
  border-radius: 5px;
  background-color: $btn-color;
  transition: opacity 0.3s ease-in-out;

  &:hover:not(:disabled) {
    opacity: 0.8;
  }

  &:disabled {
    background-color: $btn-disabled;
  }
}
