@import '/src/assets/styles/variables';
@import '/src/assets/styles/mixins';

.form {
  display: flex;
  align-items: center;
  padding-top: 37px;
  padding-left: 91px;
  position: relative;
}

.user_wrapper {
  display: flex;

  > img {
    @include avatar;
    margin-right: 30px;
    position: absolute;
    top: 0;
    left: 0;
  }

  > p {
    @include name;
    position: absolute;
    top: 0;
  }
}

.textarea_wrapper {
  display: flex;
  width: 100%;
  margin-right: 30px;
}

.textarea {
  overflow: hidden;
  padding: 20px 30px;
  height: 65px;
  min-height: 65px;
  max-height: 400px;
  width: 100%;
  max-width: 688px;
  box-shadow: 0px 0px 10px rgba($black-color, 0.2);
  border-radius: 5px;
  line-height: 22px;
  resize: none;
  &::placeholder {
    opacity: 0.4;
  }
}

.validation_wrapper {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;

  > p:first-child {
    font-style: italic;
    margin-right: 40px;
    @include textDate;
  }

  > p:last-child {
    visibility: hidden;
    font-size: 14px;
    line-height: 17px;
    color: $red-color;
  }
}

.form_btn_wrapper {
  align-self: flex-start;
}

.form_btn {
  padding: 20px 60px;
  height: 65px;
  line-height: 22px;
  border-radius: 5px;
  background-color: $btn-color;
  transition: opacity 0.3s ease-in-out;

  &:hover:not(:disabled) {
    opacity: 0.8;
  }

  &:disabled {
    background-color: $btn-disabled;
  }
}

@media (max-width: 970px) {
  .form {
    flex-wrap: wrap;
  }

  .textarea_wrapper {
    margin-right: 0;
  }

  .textarea {
    max-width: 100%;
  }

  .validation_wrapper {
    right: 0;

    > p:first-child {
      order: 1;
      margin: 0 0 0 30px;
    }
  }

  .form_btn_wrapper {
    margin-top: 20px;
  }
}

@media (max-width: 730px) {
  .form {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  .user_wrapper {
    align-items: center;

    > img {
      position: static;
    }

    > p {
      position: static;
    }
  }

  .textarea_wrapper {
    padding: 20px 0;
    position: relative;
  }

  .validation_wrapper {
    position: static;

    > p:first-child {
      margin-left: 0;
      position: absolute;
      top: -10px;
      right: 0;
    }

    > p:last-child {
      position: absolute;
      bottom: -10px;
      left: 0;
    }
  }
}
