@import '../assets/styles/reset';
@import '../assets/styles/variables';

*,
*::before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font: 400 normal 18px/1.4 $default-font;
  color: $black-color;
}

.header {
  height: 101px;
  background-color: $background-block;
  margin-bottom: 40px;
}

.main {
  display: flex;
}

.sidebar {
  width: 203px;
  background-color: $background-block;
}

.blocks_wrapper {
  width: 100%;
  max-width: 1237px;
  margin: 0 auto;
  padding: 0 129px 0 86px;
}

.info_block {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

@media (max-width: 1200px) {
  .main {
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    display: none;
  }
}

@media (max-width: 900px) {
  .blocks_wrapper {
    padding: 0 20px;
  }
}

@media (max-width: 550px) {
  .info_block {
    padding-bottom: 31px;

    > div:not(:first-child) ~ div:not(:last-child) {
      display: none;
    }

    > div:last-child {
      height: 132px;
    }

    .blocks_wrapper {
      padding: 0 10px;
    }
  }
}
