@mixin name {
  font-weight: 500;
  line-height: 22px;
  color: $blue-color;
}

@mixin avatar {
  margin-right: 30px;
  width: 61px;
  height: 61px;
}

%textGray {
  color: $black-color;
  opacity: 0.4;
}

%btnPanel {
  display: flex;
  align-items: center;
  background-color: transparent;
  gap: 7px;
  color: rgba(0, 0, 0, 0.4);
}

@mixin controlPanel {
  @extend %btnPanel;
  font-size: 16px;
  line-height: 19px;
  text-decoration: underline;
}

@mixin commentPanel {
  @extend %btnPanel;
  font-size: 18px;
  line-height: 22px;
}

@mixin textDate {
  @extend %textGray;
  font-size: 14px;
  line-height: 17px;
}

@mixin answer {
  @extend %textGray;
  font-size: 18px;
  line-height: 22px;
}
