@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

$default-font: 'Inter', sans-serif;
$white-color: #fff;
$black-color: #000;
$blue-color: #122ac0;
$red-color: #ff0000;
$background-block: #d9d9d9;
$btn-color: #abd873;
$btn-disabled: rgba(#a1a1a1, 0.4);
$increment-color: #8ac540;
